{% extends 'Manager/base.html.twig' %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ asset('assets/date/jquery.datetimepicker.css') }}"/>

{% endblock %}
{% block info %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header" data-background-color="green">
                            <h4 class="title">Add Loan</h4>
                            <p class="category">Complete Loan Requirements</p>
                        </div>
                        <div class="card-content">
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">{{ form_label(form.clientid) }}</label>
                                        {{ form_widget(form.clientid) }}
                                        {{ form_errors(form.clientid) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating ">
                                        <label class="control-label">{{ form_label(form.amount) }}</label>
                                        {{ form_widget(form.amount) }}
                                        {{ form_errors(form.amount) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating ">
                                        <label class="control-label">{{ form_label(form.interest) }}</label>
                                        {{ form_widget(form.interest) }}
                                        {{ form_errors(form.interest) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating ">
                                        <label class="control-label">{{ form_label(form.maturity) }}</label>
                                        {{ form_widget(form.maturity) }}
                                        {{ form_errors(form.maturity) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">{{ form_label(form.status) }}</label>
                                        {{ form_widget(form.status) }}
                                        {{ form_errors(form.status) }}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">{{ form_label(form.dataFillimit) }}</label>
                                        {{ form_widget(form.dataFillimit) }}
                                        {{ form_errors(form.dataFillimit) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group label-floating">
                                        <label class="control-label">Monthly Payment</label>
                                        <input class="form-control monthly" disabled>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button class="calculate btn btn-default">Calculate Monthly Payment </button>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group label-floating col-md-12">
                                {{ form_widget(form.save) }}
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header" data-background-color="purple">
                            <h4 class="title">Expired Loans</h4>
                            <p class="category">Manage Loans</p>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table">
                                <thead class="text-primary">
                                <th>Client ID</th>
                                <th>Amount</th>
                                <th>Interest</th>
                                <th>Maturity</th>
                                <th>Data Fillimit</th>
                                <th>Status</th>
                                </thead>
                                <tbody>
                                {% for x in loans %}
                                    {% if x.status == 0 %}
                                    <tr>
                                        <td><a href="{{ path('editclients', {'id': x.clientid.id }) }}">{{ x.clientid.cardid }}</a></td>
                                        <td>{{ x.amount }}</td>
                                        <td>{{ x.interest }}</td>
                                        <td>{{ x.maturity }}</td>
                                        <td>{{ x.dataFillimit|date('Y-m-d')  }}</td>

                                        {% if x.status == 1 %}
                                        <td>Aktiv</td>
                                        {% elseif x.status == 2 %}
                                        <td>Me Vonese</td>
                                        {% elseif x.status == 3 %}
                                        <td>Kredi e keqe</td>
                                        {% elseif x.status == 0 %}
                                        <td>Mbaruar</td>
                                        {% endif %}
                                    </tr>
                                {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">Loans</h4>
                        <p class="category">Manage Loans</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                            <th>Client ID</th>
                            <th>Amount</th>
                            <th>Interest</th>
                            <th>Monthly Payment</th>
                            <th>Month Payed</th>
                            <th>Maturity</th>
                            <th>Data Fillimit</th>
                            <th>Deadline</th>
                            <th>Status</th>
                            <th>Manage</th>
                            </thead>
                            <tbody>
                            {% for x in loans %}
                                {% if x.status != 0 %}
                                    <tr>
                                        <td>{{ x.clientid.cardid }}</td>
                                        <td>{{ x.amount }}</td>
                                        <td>{{ x.interest }}</td>
                                        <td>{{ ((x.amount*1.2)*(x.interest/1200)*(1+(x.interest/1200)) ** x.maturity)/(((1+(x.interest/1200)) ** x.maturity)-1) }}</td>
                                        <td>{{ x.payed }}</td>
                                        <td>{{ x.maturity }} Months</td>
                                        <td>{{ x.dataFillimit|date('Y-m-d')  }}</td>
                                        <td>{{ x.dataFillimit|date_modify("+"~ x.maturity ~" month")|date("Y-m-d") }}</td>
                                        {% if x.status == 1 %}
                                            <td>Aktiv</td>
                                        {% elseif x.status == 2 %}
                                            <td>Me Vonese</td>
                                        {% elseif x.status == 3 %}
                                            <td>Kredi e keqe</td>
                                        {% elseif x.status == 0 %}
                                            <td>Mbaruar</td>
                                        {% endif %}
                                        <td><a id="{{ x.id }}" class="btn btn-delete but3" href="{{ path('eloan', {'id': x.id }) }}"><i class="material-icons">create</i></a>
                                        <a id="{{ x.id }}" target="_blank" class="btn btn-default but3" href="{{ path('invoice', {'id': x.id }) }}"><i class="material-icons">monetization_on</i></a></td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/date/build/jquery.datetimepicker.full.js') }}"></script>
    <script src="{{ asset('assets/date/jquery.js') }}"></script>
    <script src="{{ asset('assets/date/jquery.datetimepicker.js') }}"></script>
    <script>
        $(document).ready(function(){
            $("#loan").addClass("active");
        });
        $.datetimepicker.setLocale('en');

        $('.datetimepicker').datetimepicker({
            dayOfWeekStart : 1,
            lang:'en',
            startDate:	'2017/01/05'
        });
        $(document).ready(function(){
            $(".calculate").click(function(){
                var amount = $('.amount').val();
                var int = $('.int').val()/1200;
                var maturity = $('.maturity').val();
                $(".monthly").val((amount*int*Math.pow((1+int),maturity))/(Math.pow((1+int),maturity)-1));
            });
        });
    </script>
{% endblock %}