
{% block info %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Add User</h4>
                        <p class="category">Complete user profile</p>
                    </div>
                    <div class="card-content">
                        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form-horizontal'}}) }}
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label">{{ form_label(form.email) }}</label>
                                        {{ form_widget(form.email, { 'attr': {'class': 'form-control'} }) }}
                                        {{ form_errors(form.email) }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label"> {{ form_label(form.username) }}</label>
                                        {{ form_widget(form.username, { 'attr': {'class': 'form-control'} }) }}
                                        {{ form_errors(form.username) }}
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group label-floating">
                                        <label class="control-label"> {{ form_label(form.type) }}</label>
                                        {{ form_widget(form.type, { 'attr': {'class': 'form-control'} }) }}
                                        {{ form_errors(form.type) }}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group label-floating">
                                            <label class="control-label">{{ form_label(form.plainPassword.first) }}</label>
                                            {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control'} }) }}
                                            {{ form_errors(form.plainPassword.first) }}
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        <div class="form-group label-floating">
                                            <label class="control-label">  {{ form_label(form.plainPassword.second) }}</label>
                                            {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control'} }) }}
                                            {{ form_errors(form.plainPassword.second) }}
                                        </div>
                                    </div>
                            </div>


                            <input type="submit" class="btn btn-primary pull-right" value="Register!" />
                            <div class="clearfix"></div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}