{% block css %}
{% endblock %}
{% block content%}
    <head>

        <meta charset="utf-8">
        <title>Iute Credit</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">




        <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
        <link href="{{ asset('favicon.png') }}" rel="shortcut icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

        <!-- Bootstrap CSS File -->
        <link href="{{ asset('assets/Client/lib/bootstrap/css/bootstrap.min.css' ) }}" rel="stylesheet">

        <!-- Libraries CSS Files -->
        <link href="{{ asset('assets/Client/lib/font-awesome/css/font-awesome.min.css?version=4' ) }}" rel="stylesheet">
        <link href="{{ asset('assets/Client/lib/animate-css/animate.min.css?version=4' ) }}" rel="stylesheet">

        <!-- Main Stylesheet File -->
        <link href="{{ asset('assets/Client/css/style.css?version=4' ) }}" rel="stylesheet">

    </head>
    <body>
    <div id="preloader"></div>

    <!--==========================
      Hero Section
    ============================-->
    <section id="hero">
        <div class="hero-container">
            <div class="wow fadeIn">
                <div class="hero-logo">
                    <img class="" src="{{ asset('iute-credit-white.png') }}" alt="Iute credit">
                </div>

                <h1>Welcome to Iute Credit</h1>
                <h2>We provide <span class="rotating">Trustworthy loan, Flexibility, Loan in 30 minutes</span></h2>
                <div class="actions">
                    <a href="#about" class="btn-get-started">Get Strated</a>
                    {% if app.user %}
                        <a href="{{ path('apply') }}" class="btn-services">Apply Now</a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}" class="btn-services">Log In To Apply</a>
                    {% endif %}

                </div>
            </div>
        </div>
    </section>

    <!--==========================
      Header Section
    ============================-->
    <header id="header">
        <div class="container">

            <div id="logo" class="pull-left">
                <a href=""><img src="{{ asset("iute-credit-white.png") }}" alt="" title="" /></a>
            </div>
            <nav id="nav-menu-container">
                <ul class="nav-menu">
                    <li class="menu-active"><a href="#hero">Home</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#services">Service</a></li>
                    <li><a href="#testimonials">Testimonials</a></li>
                    <li><a href="#team">Team</a></li>
                    <li class="menu-has-children"><a href="">More</a>
                        <ul>
                            <li><a href="#">History</a></li>
                            <li><a href="#">Mission</a></li>
                            <li><a href="#">Activities</a></li>
                            <li><a href="#">Shareholders</a></li>
                        </ul>
                    </li>
                    <li><a href="#contact">Contact Us</a></li>
                    {% if app.user %}
                        <li><a href="{{ path('profile', {'id': app.user.id }) }}">Profile</a></li>
                        <li><a href="{{ path('fos_user_security_logout') }}">Log Out</a></li>
                        {% else %}
                            <li><a href="{{ path('fos_user_security_login') }}">Log In</a></li>
                            {% endif %}
                    {% if not app.user %}
                         <li><a href="{{ path('signup') }}">Sign Up</a></li>
                    {% endif %}
                </ul>
            </nav><!-- #nav-menu-container -->
        </div>
    </header><!-- #header -->

    <!--==========================
      About Section
    ============================-->
    <section id="about">
        <div class="container wow fadeInUp">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">About Us</h3>
                    <div class="section-title-divider"></div>
                    <p class="section-description">Iute Credit Albania SHA issues consumer loans without collateral on the basis of personal identity cards, transfering loan amounts through Posta Moldovei or to your bank or card account on the day of signing loan agreement.</p>
                </div>
            </div>
        </div>
        <div class="container about-container wow fadeInUp">
            <div class="row">
                <div class="col-md-6 col-md-push-6 about-content">
                    <h2 class="about-title">Trustworthy loan</h2>
                    <p class="about-text">
                        Iute Credit is a reliable partner in financial services, being presented in the market of the Albania since year 2014. Our work is supervised by the Financial Supervision Authority. We deeply respect the principles of responsible lending and provide loans only to persons, who are able to get it back.                    </p>
                    <h2 class="about-title">Flexibility</h2>
                    <p class="about-text">
                        Loan is available at reasonable interest rate of 15.0% for the period up to 12 months in the amount up to 200.000 ALL. It means, that you can choose suitable amount of the monthly payment and the date of payment.                    </p>
                    <h2 class="about-title">Answer on application in 30 minutes</h2>
                    <p class="about-text">
                        To submit application short questionnaire should be filled in one of the Iute Credit officies or on our website. You will get an answer in 1 hour.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!--==========================
      Services Section
    ============================-->
    <section id="services">
        <div class="container wow fadeInUp">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Our Service</h3>
                    <div class="section-title-divider"></div>
                    <p class="section-description">The customer experience is the next competitive battleground.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 service-item">
                    <div class="service-icon"><i class="fa fa-address-card"></i></div>
                    <h4 class="service-title"><a href="">Make the application</a></h4>
                    <p class="service-description">In less than 5 minutes</p>
                </div>
                <div class="col-md-4 service-item">
                    <div class="service-icon"><i class="fa fa-check-circle-o"></i></div>
                    <h4 class="service-title"><a href="">Sign Loan Agreement</a></h4>
                    <p class="service-description">at IuteCredit Office</p>
                </div>
                <div class="col-md-4 service-item">
                    <div class="service-icon"><i class="fa fa-bank"></i></div>
                    <h4 class="service-title"><a href="">Get Money same day</a></h4>
                    <p class="service-description">in local postal office or on your bank account</p>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-12 service-item">
                        <div class="service-icon"><i class="fa fa-bank"></i></div>
                        <h4 class="service-title"><a href="">Loan conditions</a></h4>
                        <p class="service-description">
                        <br>
                        <ul class="list-group">
                            <li class="list-group-item">Without collateral</li>
                            <li class="list-group-item">Fixed interest rate 15.0-17.0% of outstanding balance</li>
                            <li class="list-group-item">Loan amount 10.000–100.000 ALL for new clients and 10.000-200.000 for returning clients</li>
                            <li class="list-group-item">Loan period 1-12 month</li>
                            <li class="list-group-item">Commission fee depending on loan period  </li>
                        </ul>
                        </p>
                    </div>
                    <div class="col-md-12 service-item">
                        <div class="service-icon"><i class="fa fa-bank"></i></div>
                        <h4 class="service-title"><a href="">Requirements for applicants</a></h4>
                        <p class="service-description">
                        <br>
                        <ul class="list-group">
                            <li class="list-group-item">Age between 18-68 years old</li>
                            <li class="list-group-item">Albanian citizen or person with long-term residence permit</li>
                            <li class="list-group-item">Correct payment behavior</li>
                            <li class="list-group-item">Bank account is not mandatory</li>
                        </ul>
                        Maximum loan amount depends on monthly income and credit obligations of the applicant. Installment schedule is calculated on the basis of annuity (monthly payments are distributed evenly throughout the loan period).
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!--==========================
      Subscrbe Section
    ============================-->
    <section id="subscribe">
        <div class="container wow fadeInUp">
            <div class="row">
                <div class="col-md-8">
                    <h3 class="subscribe-title">Subscribe For Last Information</h3>
                    <p class="subscribe-text">Join our 1000+ subscribers and get 5% off on your next loan!</p>
                </div>
                <div class="col-md-4 subscribe-btn-container">
                    <a class="subscribe-btn" href="#">Subscribe Now</a>
                </div>
            </div>
        </div>
    </section>
    <!--==========================
      Testimonials Section
    ============================-->
    <section id="testimonials">
        <div class="container wow fadeInUp">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Testimonials</h3>
                    <div class="section-title-divider"></div>
                    <p class="section-description">Reviews by our clients</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="profile">
                        <div class="pic"><img src="{{ asset('assets/Client/img/client-1.jpg') }}" alt=""></div>
                        <h4>Lerida Shkrepa</h4>
                        <span>Epoka Inc</span>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="quote">
                        <b><img src="{{ asset('assets/Client/img/quote_sign_left.png') }}" alt=""></b>Best service available in Tirana to get a small loan as fast as possible. It provides flexibility and easy wasy to get your money. <small><img src="{{ asset('assets/Client/img/quote_sign_right.png') }}" alt=""></small>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-9">
                    <div class="quote">
                        <b><img src="{{ asset('assets/Client/img/quote_sign_left.png') }}" alt=""></b> I had a family problem and I needed 1000$ immediately. Luckily, I had heard about Iute Credit which providet me the amount of money in just a matter of minutes. 10/10 I would recommend to everyone. <small><img src="{{ asset('assets/Client/img/quote_sign_right.png') }}" alt=""></small>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="profile">
                        <div class="pic"><img src="{{ asset('assets/Client/img/client-2.jpg') }}" alt=""></div>
                        <h4>Sara Wilsson</h4>
                        <span>Neptun Inc</span>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <!--==========================
      Team Section
    ============================-->
    <section id="team">
        <div class="container wow fadeInUp">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Our Team</h3>
                    <div class="section-title-divider"></div>
                    <p class="section-description">Working hard to provide the best quality!</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="member">
                        <div class="pic"><img src="{{ asset('assets/Client/img/team-1.jpg') }}" alt=""></div>
                        <h4>Xhulio Jamaku</h4>
                        <span>Chief Executive Officer</span>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="member">
                        <div class="pic"><img src="{{ asset('assets/Client/img/team-2.jpg') }}" alt=""></div>
                        <h4>Ana Basha</h4>
                        <span>Chief Financial Officer</span>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="member">
                        <div class="pic"><img src="{{ asset('assets/Client/img/team-3.jpg') }}" alt=""></div>
                        <h4>Armeno Sadiku</h4>
                        <span>CTO</span>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="member">
                        <div class="pic"><img src="{{ asset('assets/Client/img/team-4.jpg') }}" alt=""></div>
                        <h4>Xhina Kamberi</h4>
                        <span>Accountant</span>
                        <div class="social">
                            <a href=""><i class="fa fa-twitter"></i></a>
                            <a href=""><i class="fa fa-facebook"></i></a>
                            <a href=""><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
        <div class="container wow fadeInUp">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="section-title">Contact Us</h3>
                    <div class="section-title-divider"></div>
                    <p class="section-description">Iute Credit Sha</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 col-md-push-2">
                    <div class="info">
                        <div>
                            <i class="fa fa-map-marker"></i>
                            <p>Rruga e Durresit nr. 6<br> Tirane,Albania 1001</p>
                        </div>

                        <div>
                            <i class="fa fa-envelope"></i>
                            <p>info@iutecredit.al</p>
                        </div>

                        <div>
                            <i class="fa fa-phone"></i>
                            <p>067 505 5500</p>
                            <i class="fa fa-phone"></i>
                            <p>069 243 0750</p>
                        </div>
                        <div>
                            <i class="fa fa-map-marker"></i>
                            <p>Egnatia Street<br> Durres,Albania 2001</p>
                        </div>

                        <div>
                            <i class="fa fa-envelope"></i>
                            <p>info@iutecredit.al</p>
                        </div>

                        <div>
                            <i class="fa fa-phone"></i>
                            <p>067 505 5500</p>
                            <i class="fa fa-phone"></i>
                            <p>069 243 0750</p>
                        </div>

                    </div>
                </div>

                <div class="col-md-5 col-md-push-2">
                    <div class="form">
                        <div id="sendmessage">Your message has been sent. Thank you!</div>
                        <div id="errormessage"></div>
                        <form action="" method="post" role="form" class="contactForm">
                            <div class="form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" name="message" rows="16" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                                <div class="validation"></div>
                            </div>
                            <div class="text-center"><button type="submit">Send Message</button></div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!--==========================
      Footer
    ============================-->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        &copy; Copyright <strong style="color: #ff3842">Iute Credit</strong>. All Rights Reserved
                    </div>
                </div>
            </div>
        </div>
    </footer><!-- #footer -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- Required JavaScript Libraries -->
    <script src="{{ asset('assets/Client/lib/jquery/jquery.min.js?version=4') }}"></script>
    <script src="{{ asset('assets/Client/lib/bootstrap/js/bootstrap.min.js?version=4') }}"></script>
    <script src="{{ asset('assets/Client/lib/superfish/hoverIntent.js?version=4') }}"></script>
    <script src="{{ asset('assets/Client/lib/superfish/superfish.min.js?version=4') }}"></script>
    <script src="{{ asset('assets/Client/lib/morphext/morphext.min.js?version=4') }}"></script>
    <script src="{{ asset('assets/Client/lib/wow/wow.min.js?version=4') }}"></script>
    <script src="{{ asset('assets/Client/lib/stickyjs/sticky.js?version=4') }}"></script>
    <script src="{{ asset('assets/Client/lib/easing/easing.js?version=4') }}"></script>

    <!-- Template Specisifc Custom Javascript File -->
    <script src="{{ asset('assets/Client/js/custom.js?version=4') }}"></script>


    </body>
{% endblock %}